@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
@import "hero-section.css";
@import "projects-section.css";
@import "contact-section.css";

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border-radius: 0.5rem;
}

span {
  color: #f7ea4f;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
